//= require active_admin/editor/wysiwyg

@import "bootstrap-sprockets"
@import "bootstrap"




.navbar-header
  $height: 100px

  @include box-sizing(border-box)
  height: $height

  .navbar-brand
    position: relative
    float: left
    height: 100%

    img
      height: 100%
      width: auto

  .title
    position: relative

    span
      position: absolute
      top: 50%
      @include translate(0, -50%)

      color: inherit

      &:hover
        text-decoration: none


#main .bs-docs-header
  @include gradient-vertical(#239631, darken(#239631, 5%),0%, 100%)

.search_results
  em
    background-color: #90f0f0

a.brand
  &:hover
    text-decoration: none
    h1
      opacity: 0.6

table.table-hover
  tr
    .hoverable
      display: none
    &:hover
      .hoverable
        display: block

.form-inline .help-block
  height: 20px

.drugs_search_form_q
  width: 55%

.drugs_search_form_city
  width: 20%

.drugs_search_form_open_only
  width: 15%
  input
    margin-right: 7px

.drugs_search_form_q, .drugs_search_form_city
  padding-right: 20px
  .form-control
    width: 100%

.btn-search
  width: 10%
  vertical-align: top

.pharmacy-photos
  width: 100%
  div
    width: 30%
    height: 110px
    display: inline-block
    overflow: hidden
    img
      width: 100%

#map
  width: 100%
  height: 200px
