@import "bootstrap-sprockets"
@import "bootstrap"

.search_results
  em
    background-color: #90f0f0

a.brand
  &:hover
    text-decoration: none
    h1
      opacity: 0.6

table.table-hover
  tr
    .hoverable
      display: none
    &:hover
      .hoverable
        display: block

.drugs_search_form_q
  width: 70%

.drugs_search_form_city
  width: 20%

.drugs_search_form_q, .drugs_search_form_city
  padding-right: 20px
  .form-control
    width: 100%

.btn-search
  width: 10%
  vertical-align: top
