= simple_form_for drugs_search_form, url: url_for,  html: { class: 'form-inline' }, method: :get  do |f|
  = f.input :q, label: false, placeholder: 'Например: Аспирин', hint: 'Напишите наименование лекарства, Например: Брустан'
  = f.input :city, label: false, include_blank: 'Город', collection: drugs_search_form.available_cities, hint: 'Выберите город'
  = f.submit 'Найти', class: 'btn btn-default btn-search'
